<!DOCTYPE html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org">

<head>
	<meta charset = "UTF-8">
	<title>Changes</title>
	<link rel = "stylesheet" type = "text/css" th:href = "@{/css/change.css}"/>
</head>


<body>
	<h1><span th:text = "${username}"></span>, are updating this game.</h1>
	
	<br />
	
	
	<table>
		<tr th:each = "game: ${games}">
			<td th:text = "${game.gameName}"></td>
			<td th:text = "${game.gameSystem}"></td>
			<td th:text = "${game.gameStatus}"></td>
		</tr>
	</table>
	
	<br />
	<br />
	<br />
	
	
	<form action = "/change" method = "post">
		Game Name: <input type = "text" name = "gameName" />
		System: <select id = "system" name = "gameSystem">
					<option value = "PS5">PS5</option>
					<option value = "PS4">PS4</option>
					<option value = "Xbox One">Xbox One</option>
					<option value = "Xbox Series X/S">Xbox Series X/S</option>
					<option value = "Switch">Switch</option>
					<option value = "PC">PC</option>
				</select>
		Status: <select id = "status" name = "gameStatus">
					<option value = "In Progress">In Progress</option>
					<option value = "Complete">Complete</option>
				</select>
		<button type = "submit">Update</button>
	</form>
	
	<br />
	<br />
	<a href = "/profile?logout">Log out</a>
</body>




</html>