<!DOCTYPE html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org">

<head>
	<meta charset = "UTF-8">
	<title>Profile</title>
	<link rel = "stylesheet" type = "text/css" th:href = "@{/css/profile.css}"/>
</head>



<body>
	<div>
		<h1>Welcome, <span th:text = "${username}"></span> to your list of games</h1>
		
		<div>
			<form action = "/profile" method = "post">
				Game Name: <input type = "text" name = "gameName" />
				System: <select id = "system" name = "gameSystem">
							<option value = "PS5">PS5</option>
							<option value = "PS4">PS4</option>
							<option value = "Xbox One">Xbox One</option>
							<option value = "Xbox Series X/S">Xbox Series X/S</option>
							<option value = "Switch">Switch</option>
							<option value = "PC">PC</option>
						</select>
				Status: <select id = "status" name = "gameStatus">
							<option value = "In Progress">In Progress</option>
							<option value = "Complete">Complete</option>
						</select>
				<button type = "submit">Add to your list</button>
			</form>
		</div>
		<br />
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>System</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "game: ${games}">
					<td th:text = "${game.gameName}"></td>
					<td th:text = "${game.gameSystem}"></td>
					<td th:text = "${game.gameStatus}"></td>
				</tr>
			</tbody>
		</table>
		
		
		<br />
		<a href = "/profile?logout">Log out</a>
		<a href = "/profile?modify">Modify Games</a>
	</div>
</body>



</html>
