<!DOCTYPE html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org">

<head>
	<meta charset = "UTF-8">
	<title>Register</title>
</head>

<body>
	<div>
		<form action = "register" method = "post">
			Username: <input type = "text" name = "username" /><br />
			Password: <input type = "password" name = "password" /><br />
			Re-Enter Password: <input type = "password" name = "passwordAgain" /><br />
			<button type = "submit">Register</button>
		</form>
	</div>
	
	<p th:text = "${message}"></p>
</body>


</html>